<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width" />
	<title>CloudChain</title>
	<!-- icons -->
	<link rel="stylesheet" href="/@assets/octicons/build.css" />
	<link rel="icon" href="/@assets/favicon.ico">
	<!-- bootstrap -->
	<link rel="stylesheet" href="/@assets/bootstrap/css/bootstrap.min.css" />
	<script src="/@assets/bootstrap/js/bootstrap.bundle.min.js" defer></script>
	<!-- xterm -->
	<link rel="stylesheet" href="/@assets/xterm/css/xterm.css" />
	<script src="/@assets/xterm/lib/xterm.js" defer></script>
	<script src="/@assets/xterm-addon-attach/lib/xterm-addon-attach.js" defer></script>
	<script src="/@assets/xterm-addon-fit/lib/xterm-addon-fit.js" defer></script>
	<!-- file size math -->
	<script src="/@assets/filesize/filesize.js" defer></script>
	<!-- navbar, tooltip -->
	<link rel="stylesheet" href="/@assets/navbar.css" />
	<script src="/@assets/tooltip.js" defer></script>
	<!-- list, multi-select -->
	<link rel="stylesheet" href="/@assets/list.css" />
	<script src="/@assets/multi.js" defer></script>
	<!-- upload -->
	<link rel="stylesheet" href="/@assets/upload.css" />
	<script src="/@assets/encryption.js" defer></script>
	<script src="/@assets/utils.js" defer></script>
	<script src="/@assets/upload.js" defer></script>
	<!-- login -->
	<link rel="stylesheet" href="/@assets/login.css" />
</head>
<body class="bg-light">
	{{{body}}}
	<!-- Crypto JS -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js"></script>
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script src="https://code.jquery.com/jquery-migrate-1.4.1.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="/@assets/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js@1.5.2/dist/web3.min.js"></script>
    <script src="/@assets/truffle-contract.js"></script>
    <script src="/@assets/app.js"></script>
</body>
</html>
